<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>47401</key><string>稚内</string>
        <key>47407</key><string>旭川</string>
        <key>47412</key><string>札幌</string>
        <key>47409</key><string>網走</string>
        <key>47418</key><string>釧路</string>
        <key>47423</key><string>室蘭</string>
        <key>47430</key><string>函館</string>
        <key>47575</key><string>青森</string>
        <key>47582</key><string>秋田</string>
        <key>47584</key><string>盛岡</string>
        <key>47590</key><string>仙台</string>
        <key>47588</key><string>山形</string>
        <key>47595</key><string>福島</string>
        <key>47604</key><string>新潟</string>
        <key>47629</key><string>水戸</string>
        <key>47615</key><string>宇都宮</string>
        <key>47624</key><string>前橋</string>
        <key>47626</key><string>熊谷</string>
        <key>47662</key><string>東京</string>
        <key>47678</key><string>八丈島</string>
        <key>47648</key><string>銚子</string>
        <key>47670</key><string>横浜</string>
        <key>47610</key><string>長野</string>
        <key>47638</key><string>甲府</string>
        <key>47656</key><string>静岡</string>
        <key>47636</key><string>名古屋</string>
        <key>47632</key><string>岐阜</string>
        <key>47651</key><string>津</string>
        <key>47607</key><string>富山</string>
        <key>47605</key><string>金沢</string>
        <key>47616</key><string>福井</string>
        <key>47761</key><string>彦根</string>
        <key>47759</key><string>京都</string>
        <key>47772</key><string>大阪</string>
        <key>47770</key><string>神戸</string>
        <key>47780</key><string>奈良</string>
        <key>47777</key><string>和歌山</string>
        <key>47768</key><string>岡山</string>
        <key>47765</key><string>広島</string>
        <key>47741</key><string>松江</string>
        <key>47746</key><string>鳥取</string>
        <key>47762</key><string>下関</string>
        <key>47895</key><string>徳島</string>
        <key>47891</key><string>高松</string>
        <key>47887</key><string>松山</string>
        <key>47893</key><string>高知</string>
        <key>47807</key><string>福岡</string>
        <key>47815</key><string>大分</string>
        <key>47817</key><string>長崎</string>
        <key>47813</key><string>佐賀</string>
        <key>47819</key><string>熊本</string>
        <key>47830</key><string>宮崎</string>
        <key>47827</key><string>鹿児島</string>
        <key>47909</key><string>名瀬</string>
        <key>47936</key><string>那覇</string>
        <key>47945</key><string>南大東島</string>
        <key>47927</key><string>宮古島</string>
        <key>47918</key><string>石垣島</string>
        <key>47971</key><string>父島</string>
    </dict>
</plist>

